header {
    text-align: center;
    height: 150px;
    border: 2px solid black;
    margin: 10px, 5px, 15px, 5px;
    
}
#item-types{
    height: 50px;
    width: 100px;
    border: 1px solid black;
}
.items {
    /*border: 2px solid red;*/
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 335px;
}
.item-types {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
/*this is making the nav being next to eachother*/
nav {
    background-color: #333;
    padding: 10px;
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
.search-container {
    display: flex;
    justify-content: flex-end;
}
/* Style the input field */
#inp-word {
    padding: 10px; 
    border-radius: 5px; 
    margin-right: 10px;
    margin-top: 20px;
}
  
/* Style the search button */
#search-btn {
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
/* Add hover effect for the button */
#search-btn:hover {
    background-color: #0056b3; /* Changing background color on hover */
}
footer {
    bottom: 0;
    background-color: #0056b3;
    width: 100%;
    height: 50px;
    padding: 5px;
    text-align: center;
    margin-left: 0;
}
#pants {
    background-image: url('https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/459707/sub/goods_459707_sub13.jpg?width=750');
    background-size: cover;
}
#shorts {
    background-image: url('https://itizen-production.s3.amazonaws.com/uploads/image_asset/image/20402711/item-image-0.jpg');
    background-size: cover;
}
#shirts {
    background-image:url('//u-mercari-images.mercdn.net/photos/m15938459770_1.jpg?width=3840&quality=75&format=pjpg&auto=webp&_=1675468513');
    background-size: cover;
}
#itemDisplay {
    width: 300px;
    height: 600px;
}
#itemDescription {
    height: 400px;
}
img {
    height: 150px;
}